body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #e78D4D;
    color: #ffA;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}

.search-bar:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.user-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.user-icon:hover {
    background-color: #777;
}

.user-menu {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none; /* Hidden by default */
    z-index: 1000;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li {
    padding: 10px 20px;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.dropdown-menu ul li:hover {
    background-color: #f0f0f0;
}

.user-icon:hover {
    background-color: #555; /* Change color on hover */
}

main {
    text-align: center;
    margin: 20px;
    padding: 20px;
}